

body{
  background-color: black;
  
 

}

.index {
  background-color: black;
  margin-top: -10%;
 

}



.startover {
  background-image: url(../img/mainstartover.png);
  z-index: 0;
  position: absolute;
  margin-top: 20%;
  background-color: black;
 
  
}

h1{

}

h2{

}

#p1video1 {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -2;
  min-width: 100%;
  min-height: 100%;
 
 

    
}

.ending {
  background-color: black;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -2;
  min-width: 100%;
  min-height: 100%;
}

#p1video2 {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
 
    
}

.mainpic {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
  
}

.start {
  max-width: 15%;
position: absolute;
margin-left: 3.5%;
z-index: 2;


}

.startoverlay {
  position: absolute;
  z-index: 2;
  top: 0%;
  left: 0;
  opacity: 0;
  transition:opacity 0.9s;

}

.startoverlay:hover {
  opacity: 1;
}

.theend {
  position: absolute;
  left: 680px;
  top: 250px;

}

.theendoverlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition:opacity 0.9s;

}

.theendoverlay:hover {
  opacity: 1;

}




.gif1 {
    display: block
  margin-left: auto
  margin-right: auto
  width: 50%;
}

body {
    
  }
  
  .container {
    
   justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

   


   
  }

 


  


 
  
  .charactors {
    z-index: 2;
    position: relative;
    animation: float 3s ease-out infinite;
    margin-top: 15%;
    display: block
    margin-left: auto
    margin-right: auto
    margin-top: 60%
  
 
 
  }

  

  .a2 {
    margin-top: 64%;
  }

  .a22 {
    margin-top: 64%;
    z-index: -1;

  }

  .a1 {
    margin-top: 64%;
  }

 
  
  @keyframes float {
    50% {
       transform: translate(0, 20px);
    }
  }
 
  
  
  @keyframes shrink {
    0% {
      width: 90%;
      margin: 0 5%;
    }
    50% {
      width: 60%;
      margin: 0 18%;
    }
    100% {
      width: 90%;
      margin: 0 5%;
    }
  }


  .levels {
    text-align: center;
    margin-top: ;

  }

  .image{
    position: relative;
    margin-top: 20%;
    
}


  .image__overlay{
    z-index: 3;
    position: absolute;  
    top: 0;
    left: 0;
    opacity: 0;
    transition:opacity 0.9s;
 
  
}

.image__overlay:hover{
  z-index: 3;
  opacity: 1; 
}




.levels {
  position: absolute;
  z-index: 1;
top: 15px;
left: 100px;


}

.container .hovertarget {
position: absolute;
top: 15px;
left: 100px;
opacity: 0;
z-index: 3;
transition:opacity 2s;
}


.container .charactors:hover + .hovertarget {
 opacity: 1;
 z-index: 3;
}


.grid {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  width: 1500px;
  height: 1400px;
  z-index: 2;
}

.grid__item {
  height: 60px;
  width: 60px;
  background: rgb(132, 199, 178);
  opacity: 0;
  transition: opacity 2s ease 0.4s, transform 0.8s ease;
  transform: scale(1);
  z-index: 1
}

.grid__item:hover {
  opacity: .7;
  transition: opacity 0.2s ease;
  transform: scale(1.04);
  z-index: 1
}

.containermain {
  margin: 100px;
 
  justify-content: center;
  margin-top: 20%;
justify-content: center;
display: block;
  display: flex;
  flex-direction: row;
  
  
    
  
}

#pic1 {
 max-width: fit-content;
}

.mainpic {
 width: 10%;
 z-index: 0;
}


.startoverbutton {
  max-width: 15%;
  position: absolute;
  margin-left: 50%;
  z-index: 2;
  opacity: 1;
}


@media screen and (max-width: 600px) {

   
  .index {
    margin-top: 10%;
  }
  .containermain {
    max-width: 80%;
    margin-left: 9%;
    
    flex-direction: column;
    justify-content: center;
    margin: 1%;
  }



  img {
    width: 100%;
    justify-content: center;
  }

  .start {
    max-width: 100%;
    margin-left: 7%;
  }

  .main1 {

   width: 120%;
  }

  .main2 {
    margin-left: 40%;

  }
  
  }
  




