

body{
  
 

}

.index {
  background-image: url(../img/main.png)


}

h1{

}

h2{

}

#p1video1 {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
 
 

    
}

#p1video2 {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
 
    
}

.gif1 {
    display: block
  margin-left: auto
  margin-right: auto
  width: 50%;
}

body {
    
  }
  
  .container {
   justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

   


   
  }

 


  


 
  
  .charactors {
   
    position: relative;
    animation: float 3s ease-out infinite;
    margin-top: 80%;
    display: block
  margin-left: auto
  margin-right: auto
  margin-top: 60%
 
 
  }

  .a2 {
    margin-top: 64%;
  }

  .a22 {
    margin-top: 64%;
    z-index: -1;

  }

  .a1 {
    margin-top: 64%;
  }

 
  
  @keyframes float {
    50% {
       transform: translate(0, 20px);
    }
  }
 
  
  
  @keyframes shrink {
    0% {
      width: 90%;
      margin: 0 5%;
    }
    50% {
      width: 60%;
      margin: 0 18%;
    }
    100% {
      width: 90%;
      margin: 0 5%;
    }
  }


  .levels {
    text-align: center;
    margin-top: ;

  }

  .image{
    position: relative;
    margin-top: 20%;
    
}


  .image__overlay{
    position: absolute;  
    top: 0;
    left: 0;
    opacity: 0;
    transition:opacity 0.9s;
 
  
}

.image__overlay:hover{
  opacity: 1; 
}